<header>
    <section class="textos-header">
        <h1>Series y programagas de tv </h1>
        <h2> 🍿👀📽 </h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</header>

<main class="main">
    <img src="./../../assets/topseries.jpeg" id="Perfil" class="circulofoto" alt="foto">
    <section class="clientes contenedor ">
        <h2 class="titulo">Hola, te enseño un poco de  mis gustos por las series y pelis</h2>
        <div class="contenido-texto-card">

            <p>Aquí podras encontrar algunos de los progrmas y peliculas, que suelo  ver muy amenudo.</p>
        </div>
        
        <h4>¡Es pero que sean de tu agrado!</h4>
        
    </section>


    <section id="Educacion" class="estudiocontenedor ">

        <h2 class="tituloo"> Series y peliculas:</h2>

        <div class="Containerr">
            <div class="card cardestudio">
                <div class="top-row background-top-row">

                    <h3>Harold y Maude</h3>

                </div>
                <div class="contentt">
                    <img class="img-pais" src="./../../assets/serie4.jpg" alt="Harold y Maude">
                </div>
            </div>
        </div>



        <div class="Containerr">
            <div class="card cardestudio">
                <div class="top-row background-top-row">

                    <h3>Rick and Morty</h3>
                </div>
                <div class="contentt">
                    <img class="img-pais" src="./../../assets/serie3.jpg" alt="Rick and Morty">
                </div>
            </div>
        </div>


        <div class="Containerr">
            <div class="card cardestudio">
                <div class="top-row background-top-row">
                    <h3>Marianne</h3>

                </div>
                <div class="contentt">
                    <img class="img-pais" src="./../../assets/serie2.jpg" alt="Marianne">
                </div>
            </div>
        </div>

        <div class="Containerr">
            <div class="card cardestudio">
                <div class="top-row background-top-row">
                    <h3>the office</h3>

                </div>
                <div class="contentt">
                    <img class="img-pais" src="./../../assets/serie1.jpg" alt="the office">
                </div>
            </div>
        </div>