<section class="textos-header">
    <h1>Bienvenido a mi Blog personal </h1>
    <h2>❤</h2>
</section>
<div class="wave" style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff;">
        </path>
    </svg>
</div>

<div class="main">
<img src="./../../assets/wai.jpg" id="Perfil" class="circulofoto" alt="foto">
<section class="clientes contenedor ">
    <h2 class="titulo">Hola, soy Waira Alejandra Restrepo Agudelo </h2>
    <div class="contenido-texto-card">

        <p>Soy una entusiasta por el mundo de la tecnología y desarrollo web, es por esto que he decidido
            comenzar de manera formal mis estudios en este ámbito con el fin de trazar un mapa donde tendré un
            punto de partida, para así lograr cada objetivo y aprendizaje que me permitirá alcanzar cada vez más
            el punto de llegada (Ser una desarrolladora frontend). </p>
    </div>
    
    <h4>¡Es un placer tenerte aquí!</h4>
    
</section>

<div id="Experiencia">
    <div class="contenedor sobre-nosotros">
        <h2 id="experiencia" class="titulo">Objetivos a corto plazo </h2>
        <div class="contenedor-sobre-nosotros">
            <img src="./../../assets/obj.jpg" alt="Imagen de studiogstock en Freepik" class="imagen-about-us">
            <div class="contenido-textos">
                <h3>
                    <span>1</span>Aprender frontend:
                    <!-- se pone  span para poderle dar  color a el numero 1-->
                </h3>

                <h5>Obtener una formacion solida en frontend por medio de Bootcamp </h5>
                <p>Para asi obtener las herramintas necesarias para postularme a una vacante laboral.
                    <br> Enero 2023-Diciembre2023.
                </p>
                <h3>
                    <span>2</span>Poder viajar por Colombia:
                </h3>

                <h5> viajar por colombia mientras trabajo </h5>

                <p>Tener un empleo en frontend de manera remota y gracias a esto poder viajar por colombia
                    mientras trabajo.
                    <br> Junio 2024-Diciembre 2024.
                </p>

            </div>




        </div>
    </div>
<!-------------------------------------------------------------- cards top de paises a viajar  --------------------------------------------------------------->
<section id="Educacion" class="estudiocontenedor ">

    <h2 class="tituloo">Paises para viajar:</h2>

    <div class="Containerr">
        <div class="card cardestudio">
            <div class="top-row background-top-row">

                <h3>Japon</h3>

            </div>
            <div class="contentt">
                <img class="img-pais" src="./../../assets/tokyo.gif" alt="Japon">
            </div>
        </div>
    </div>



    <div class="Containerr">
        <div class="card cardestudio">
            <div class="top-row background-top-row">

                <h3>Mexico</h3>
            </div>
            <div class="contentt">
                <img class="img-pais" src="./../../assets/mexico.jpg" alt="Mexico">
            </div>
        </div>
    </div>


    <div class="Containerr">
        <div class="card cardestudio">
            <div class="top-row background-top-row">
                <h3>Peru</h3>

            </div>
            <div class="contentt">
                <img class="img-pais" src="./../../assets/Machu Picchu.jpg" alt="Peru">
            </div>
        </div>
    </div>

    <div class="Containerr">
        <div class="card cardestudio">
            <div class="top-row background-top-row">
                <h3>Argentina</h3>

            </div>
            <div class="contentt">
                <img class="img-pais" src="./../../assets/argentina.jpg" alt="Argentina">
            </div>
        </div>
    </div>






    <div class="wavee" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</section>
<!-------------------------------------------------------------- cards top de Hobbies  --------------------------------------------------------------->
<section id="Habilidades" class="sectionhabilidades">

    <h2 class="titulohabilidades">Hobbies</h2>

    <div class="container">

        <div class="card">
            <div class="tituloo"><p class="parra">Salir a caminar </p></div>
            <div >
                <img src="./../../assets/caminar.jpg" class="foto" alt="caminar">
            </div>
        </div>
    </div>


    <div class="container">

        <div class="card">
            <div class="tituloo"><p class="parra">Montar bicicleta</p></div>
            <div >
                <img src="./../../assets/montar bici.png"  class="foto" alt="Montar bicicleta">
            </div>
        </div>
    </div>


    <div class="container">

        <div class="card">
            <div class="tituloo"><p class="parra">Escuchar musica y ver series</p></div>
            <div>
                <img src="./../../assets/musica.jpg" class="foto"  alt="Escuchar musica y ver series">  
            </div>
        </div>
    </div>








</section>



</div>
